[submodule "09.14-DS"]
	path = 09.14-DS
	url = https://github.com/xxngwxnn/09.14-DS.git
[submodule "DS2_Kruskal_MST"]
	path = DS2_Kruskal_MST
	url = https://github.com/xxngwxnn/DS2_Kruskal_MST.git
[submodule "DS2_Dijkstra_MST"]
	path = DS2_Dijkstra_MST
	url = https://github.com/xxngwxnn/DS2_Dijkstra_MST.git
[submodule "DS2_Dijikstra_List"]
	path = DS2_Dijikstra_List
	url = https://github.com/xxngwxnn/DS2_Dijikstra_List.git
[submodule "DS2_Floyd_Algorithm"]
	path = DS2_Floyd_Algorithm
	url = https://github.com/xxngwxnn/DS2_Floyd_Algorithm.git
[submodule "DS2_Sorting_Practice"]
	path = DS2_Sorting_Practice
	url = https://github.com/xxngwxnn/DS2_Sorting_Practice.git
[submodule "Tree"]
	path = Tree
	url = https://github.com/xxngwxnn/Tree.git
[submodule "DS2_Shell_Sort"]
	path = DS2_Shell_Sort
	url = https://github.com/xxngwxnn/DS2_Shell_Sort.git
[submodule "DS2_Sorting_Practice_a"]
	path = DS2_Sorting_Practice_a
	url = https://github.com/xxngwxnn/DS2_Sorting_Practice_a.git
[submodule "DS2_Merge_Sort"]
	path = DS2_Merge_Sort
	url = https://github.com/xxngwxnn/DS2_Merge_Sort.git
[submodule "DS2_Quick_Sort"]
	path = DS2_Quick_Sort
	url = https://github.com/xxngwxnn/DS2_Quick_Sort.git
