[submodule "09.14-DS"]
	path = 09.14-DS
	url = https://github.com/xxngwxnn/09.14-DS.git
[submodule "Tree"]
	path = Tree
	url = https://github.com/xxngwxnn/Tree.git
[submodule "DS2_Shell_Sort"]
	path = DS2_Shell_Sort
	url = https://github.com/xxngwxnn/DS2_Shell_Sort.git
[submodule "DS2_Sorting_Practice_a"]
	path = DS2_Sorting_Practice_a
	url = https://github.com/xxngwxnn/DS2_Sorting_Practice_a.git
[submodule "DS2_Merge_Sort"]
	path = DS2_Merge_Sort
	url = https://github.com/xxngwxnn/DS2_Merge_Sort.git
[submodule "DS2_Quick_Sort"]
	path = DS2_Quick_Sort
	url = https://github.com/xxngwxnn/DS2_Quick_Sort.git
